In [2]:
#Types of variables
# I Categorical variables - strings
    # nominal  variables (color eyes, gender, etc...)

    # ordinal variables (S, M, L)

# II Numeric variables 
    # continous variables - float

    # discret  variables - integer

In [58]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [69]:
#credit ajdustments

In [59]:
b_credit = pd.read_csv("D:\python_training_projects\ML Curso\data\credit_risk_dataset.csv") # read_csv to open data frame

In [61]:
# deleted columns using del bc['column name'] or drop 
#del bc['loan_grade']
b_credit_2 = b_credit.drop(b_credit.columns[[2,3,4,5,7,9,10,11]], axis = 1, inplace=True)
b_credit.head()

   person_age  person_income  loan_amnt  loan_status
0          22          59000      35000            1
1          21           9600       1000            0
2          25           9600       5500            1
3          23          65500      35000            1
4          24          54400      35000            1

In [62]:
# dividing variables
x_credit = b_credit.iloc[:,0:3].values
x_credit
type(x_credit)

numpy.ndarray

In [63]:
y_credit = b_credit.iloc[:,3].values
y_credit

array([1, 0, 1, ..., 1, 0, 0], dtype=int64)

In [64]:
x_credit[:,0].min(), x_credit[:,1].min(), x_credit[:,2].min()# minimum age , minimum income, minimum loan

(20, 4000, 500)

In [65]:
x_credit[:,0].max(), x_credit[:,1].max(), x_credit[:,2].max()# maximum age, maximum income, maximum loan

(144, 6000000, 35000)

In [66]:
# standardsation
from sklearn.preprocessing import StandardScaler
scaler_credit = StandardScaler()
x_credit = scaler_credit.fit_transform(x_credit)

In [67]:
x_credit[:,0].min(), x_credit[:,1].min(), x_credit[:,2].min()

(-1.2184346364593488, -1.0014952772370846, -1.4377390104182448)

In [68]:
x_credit[:,0].max(), x_credit[:,1].max(), x_credit[:,2].max()

(18.315335239135486, 95.7360051810824, 4.019403764559302)

In [70]:
b_census = pd.read_csv('D:\python_training_projects\ML Curso\data\census.csv')

In [71]:
b_census

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [72]:
x_census = b_census.iloc[:, 0:14].values

In [73]:
y_census = b_census.iloc[:,14].values

In [74]:
from sklearn.preprocessing import LabelEncoder

In [75]:
le_workclass = LabelEncoder()
le_education = LabelEncoder()
le_marital = LabelEncoder()
le_occupation = LabelEncoder()
le_relationship = LabelEncoder()
le_race = LabelEncoder()
le_sex = LabelEncoder()
le_country = LabelEncoder()

In [76]:
x_census[:,1] = le_workclass.fit_transform(x_census[:,1])
x_census[:,3] = le_education.fit_transform(x_census[:,3])
x_census[:,5] = le_marital.fit_transform(x_census[:,5])
x_census[:,6] = le_occupation.fit_transform(x_census[:,6])
x_census[:,7] = le_relationship.fit_transform(x_census[:,7])
x_census[:,8] = le_race.fit_transform(x_census[:,8])
x_census[:,9] = le_sex.fit_transform(x_census[:,9])
x_census[:,13] = le_country.fit_transform(x_census[:,13])

In [77]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [78]:
ohe_census = ColumnTransformer(transformers=[('OneHot',OneHotEncoder(),[1,3,5,6,7,8,9,13])], remainder='passthrough')

In [79]:
x_census = ohe_census.fit_transform(x_census).toarray()

In [80]:
scaler_census = StandardScaler()
x_census = scaler_census.fit_transform(x_census)

In [81]:
from sklearn.model_selection import train_test_split

In [ ]:
#credit data

In [90]:
x_credit_train, x_credit_test, y_credit_train, y_credit_test = train_test_split(x_credit, y_credit, test_size= 0.15, random_state= 0)

In [96]:
x_credit_train.shape,y_credit_train.shape

((27693, 3), (27693,))

In [97]:
x_credit_test.shape,y_credit_test.shape

((4888, 3), (4888,))

In [ ]:
#census data

In [89]:
x_census_train, x_census_test, y_census_train, y_census_test = train_test_split(x_census, y_census, test_size= 0.15, random_state= 0)

In [95]:
x_census_train.shape, y_census_train.shape

((27676, 108), (27676,))

In [98]:
x_census_test.shape, y_census_test.shape

((4885, 108), (4885,))

In [ ]:
#saving variables

In [99]:
import pickle

In [101]:
with open('credit.pkl', mode='wb')as f:
    pickle.dump([x_credit_train, x_credit_test, y_credit_train, y_credit_test], f)

In [ ]:
with open('census.pkl', mode='wb')as f:
    pickle.dump([x_census_train, x_census_test, y_census_train, y_census_test], f)