In [1]:
import pandas as pd
import numpy as np
from apyori import apriori

In [7]:
grocery1 = pd.read_csv('grocery.csv', header=None)
grocery1

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [5]:
from pyECLAT import ECLAT

In [8]:
eclat = ECLAT(data = grocery1)

In [9]:
eclat.df_bin

   cafe  arroz  manteiga  leite  feijao  pao  cerveja
0     0      0         1      1       0    1        1
1     1      0         1      0       0    1        0
2     1      0         1      0       0    1        0
3     1      0         1      1       0    1        0
4     0      0         0      0       0    0        1
5     0      0         1      0       0    0        0
6     0      0         0      0       0    1        0
7     0      0         0      0       1    0        0
8     0      1         0      0       1    0        0
9     0      1         0      0       0    0        0

In [10]:
eclat.uniq_

['cafe', 'arroz', 'manteiga', 'leite', 'feijao', 'pao', nan, 'cerveja']

In [16]:
index, support = eclat.fit(min_support=0.3, min_combination=1, max_combination=3)

Combination 1 by 1

3it [00:00, 499.66it/s]

Combination 2 by 2

3it [00:00, 374.64it/s]

Combination 3 by 3

1it [00:00, 335.95it/s]

In [15]:
index

{'cafe & manteiga': [1, 2, 3],
 'cafe & pao': [1, 2, 3],
 'manteiga & pao': [0, 1, 2, 3],
 'cafe & manteiga & pao': [1, 2, 3]}

In [17]:
support

{'cafe': 0.3,
 'manteiga': 0.5,
 'pao': 0.5,
 'cafe & manteiga': 0.3,
 'cafe & pao': 0.3,
 'manteiga & pao': 0.4,
 'cafe & manteiga & pao': 0.3}